<div class="container-fluid bg-light py-2 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="/" class="text-decoration-none text-dark"> 
                  <h3>Rworld Store!</h3>  
                </a>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                {{#if user}}
                    <a href="/cart" class="text-dark"><i class="fas fa-shopping-cart fa-lg"></i></a>
                {{else}}
                    <a href="/auth/login" class="text-dark"><i class="fas fa-shopping-cart fa-lg"></i></a>
                {{/if}}
            </div>
            <div class="col-md-3 text-left d-flex align-items-center justify-content-center">
                {{#if user}}
                    <span class="mr-3">Logged in as <a href="/profile">{{user.firstName}} {{user.lastName}}</a></span>
                {{else}}
                    <a href="/auth/login" class="btn btn-primary mx-1">Log In</a>
                    <a href="/auth/register" class="btn btn-success mx-1">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>