{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}

{{#if message}}
<div class="alert alert-info">{{message}}</div>
{{/if}}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login</h2>

                    <form action="/auth/login" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <div class="text-center ">
                            <button type="submit" class="btn btn-primary btn-lg my-2 px-4">Login</button>
                            <br>
                            <a href="/auth/github"> <button type="button" class="btn btn-dark my-2 px-5"> Log in with Github </button></a>
                            <br>
                            <a href="/auth/google"> <button type="button" class="btn btn-outline-dark px-5"> Log in with Google </button></a>
                            <div class="mt-1">
                                <a href="/auth/register">New around here? Sign up</a>
                                <br>
                                <a href="/auth/restore-password">Forgot your password? Restore it</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>