{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}

{{#if message}}
<div class="alert alert-info">{{message}}</div>
{{/if}}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Restore Password</h2>

                    <form action="/auth/restore-password" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-2 btn-lg mt-3 px-3">Restore Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>