<h1>Pagina principal</h1>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>

<script>
  // Conectarse al servidor de websockets
  const socketClient = io();

  // Manejar el evento 'nuevoProducto' emitido desde el servidor
  socket.on('nuevoProducto', (producto) => {
    // Actualizar la lista de productos en la vista
    // ... (código para actualizar la lista)
  });
</script>